@page {
    size: landscape;
}

@media print {
    :root,
    :root.light,
    :root[theme="light"],
    :root.dark,
    :root[theme="dark"] {
        --background-html: rgb(255, 255, 255) no-repeat center center fixed;
        --background-body: transparent no-repeat center center fixed;

        --color-main-text: rgb(0, 0, 0);
        --color-alt-text: rgb(255, 255, 255);

        --color-red: rgb(255, 59, 48);
        --color-orange: rgb(255, 149, 0);
        --color-yellow: rgb(255, 204, 0);
        --color-green: rgb(52, 199, 89);
        --color-mint: rgb(0, 199, 190);
        --color-teal: rgb(48, 176, 199);
        --color-cyan: rgb(50, 173, 230);
        --color-blue: rgb(0, 122, 255);
        --color-indigo: rgb(88, 86, 214);
        --color-purple: rgb(175, 82, 222);
        --color-pink: rgb(255, 45, 85);
        --color-brown: rgb(162, 132, 94);

        --color-gray-1: rgb(142, 142, 147);
        --color-gray-2: rgb(174, 174, 178);
        --color-gray-3: rgb(199, 199, 204);
        --color-gray-4: rgb(209, 209, 214);
        --color-gray-5: rgb(229, 229, 234);
        --color-gray-6: rgb(242, 242, 247);

        --color-selection: rgba(0, 122, 255, 0.3);

        color-scheme: light;
    }

    body {
        print-color-adjust: exact;
    }

    .calendar-button-wrapper {
        display: none !important;
    }

    .ribbon {
        display: none !important;
    }

    .copyright {
        display: none !important;
    }

    .watermark {
        display: block !important;
    }
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    -webkit-appearance: none;
}

body {
    font-family: var(--font-family);

    color: var(--color-element-text);
    background: var(--background-html);

    font-weight: var(--font-weight-normal);

    transition: 0.3s;

    user-select: none;

    -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

a {
    text-decoration: none;

    color: var(--color-accent);

    cursor: pointer;
}

a.underlined {
    text-decoration: underline;
}

abbr {
    text-decoration: none;
}

.watermark {
    display: none;
}

.ribbon {
    position: fixed;
    display: grid;

    grid-template-columns: max-content 1fr max-content;
    gap: 0.5em;

    top: 0;

    width: calc(100vw - 2rem);

    margin: 1rem;
    padding: 0.5em;

    background: var(--background-html);
    border: 1px solid var(--color-gray-4);

    border-radius: 0.5rem;

    box-shadow: 0 0 1rem var(--color-gray-4);

    transition: 0.3s;

    z-index: 2;
}

.ribbon p {
    font-size: 0.8em;
    font-weight: var(--font-weight-semibold);
    line-height: 1.4;
}

.ribbon span,
.ribbon a,
.ribbon abbr {
    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 1em;
    line-height: 1.4;

    color: var(--color-accent);
}

.calendar-wrapper {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 100%;
    max-height: 100vh;

    padding: 1rem;
}

.calendar-title {
    padding-bottom: 0.25em;

    text-align: center;
}

.calendar-table {
    width: 90vw;
    max-width: 60em;
    height: calc(80vh - 2rem);

    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: max-content repeat(5, minmax(0, 1fr));

    border-top: 1px solid var(--color-gray-4);
    border-left: 1px solid var(--color-gray-4);
}

.grid-content {
    position: relative;
    padding: 0.5em;

    line-height: 1;
    text-align: left;
    font-weight: var(--font-weight-normal);

    border-bottom: 1px solid var(--color-gray-4);
    border-right: 1px solid var(--color-gray-4);

    transition: 0.2s;

    cursor: pointer !important;

    overflow: hidden;
}

.grid-contentedit {
    width: 100%;
    height: calc(100% - 1.5em);

    margin-top: 0.5em;

    text-align: center;
    font-weight: var(--font-weight-normal);

    outline: none;

    overflow-y: hidden;

    cursor: text;
}

.grid-contentedit:focus {
    overflow-y: auto;
}

.grid-contentedit::-webkit-scrollbar {
    width: 2px;
}

.grid-contentedit::-webkit-scrollbar-thumb {
    background: var(--color-gray-4);
}

.weekend {
    color: var(--color-accent);
}

.day {
    color: var(--color-gray-1);
    background: var(--color-gray-5);

    text-align: center;
    font-weight: var(--font-weight-semibold);

    cursor: default !important;
}

.footer {
    padding-top: 0.5em;

    text-align: center;
    font-size: 0.8em;
}

.new-calendar-wrapper {
    display: none;
    position: fixed;

    top: 0;

    width: 100vw;
    height: 100vh;

    background: var(--color-new-calendar-background);
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);

    z-index: 1;
}

.new-calendar {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 90vw;
    max-width: 20em;

    padding: 1em;

    text-align: center;

    background: var(--color-gray-6);
    border: 1px solid var(--color-gray-4);
    border-radius: 0.5em;
}

.new-calendar p {
    padding-bottom: 0.5em;

    font-weight: var(--font-weight-bold);
}

.new-calendar label {
    font-weight: var(--font-weight-semibold);
}

.new-calendar input[type="number"],
.new-calendar select {
    display: block;

    width: 100%;

    padding: 0.25em;
    margin: 0.5em auto 1em auto;

    font-family: var(--font-family);

    color: var(--color-main-text);
    background: var(--background-html);
    border-radius: 0.3em;
    border: 0.5px solid var(--color-gray-4);
    outline: none;
}

.new-calendar-blank {
    display: none;

    font-weight: var(--font-weight-normal);
    font-size: 0.8em;

    color: var(--color-red);
}

.calendar-button-wrapper {
    width: max-content;

    padding: 1em 0 0 0;
    margin: auto;
}

.othermonth {
    color: var(--color-gray-4);
}

.selected {
    background: var(--color-gray-6);
}