@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root, :root.dark {
    --daystextcolor: rgba(0, 0, 0, 0.5);

    --navbarbg: rgb(12, 13, 16);
    --textcolor: rgb(255, 255, 255);
    --alt-textcolor: rgb(0, 0, 0);
    --bgcolor: rgb(32, 33, 36);

    --blue: rgb(120, 167, 218);
    --linkblue: rgb(120, 167, 218);
    --changelog-linkblue: rgb(120, 167, 218);
    --pink: rgb(214, 134, 183);
    --purple: rgb(202, 145, 255);
    --yellow: rgb(249, 215, 61);
    --orange: rgb(248, 166, 108);
    --red: rgb(255, 100, 100);
    --darkred: rgb(255, 50, 50);
    --green: rgb(146, 228, 175);
    --darkgreen: rgb(108, 202, 89);
    --white: #fff;
    --black: #323232;

    --tablebg: rgb(42, 43, 46);
    --subjbg: rgb(72, 73, 76);
    --subjbg-darker: rgb(57, 58, 61);

    --changelogbg: rgb(32, 33, 36);

    --timebarwrapper: rgba(0, 0, 0, 0.1);
    --timebarplayer: rgba(0, 0, 0, 0.2);

    --normaltext: 200;
    --boldtext: 500;

    color-scheme: dark;
}

:root.light {
    --navbarbg: rgb(235, 235, 235);
    --textcolor: rgb(0, 0, 0);
    --alt-textcolor: rgb(255, 255, 255);
    --bgcolor: rgb(255, 255, 255);

    --tablebg: rgb(195, 195, 195);
    --subjbg: rgb(235, 235, 235);
    --subjbg-darker: rgb(210, 210, 210);

    --linkblue: rgb(28, 69, 158);

    --timebarwrapper: rgba(255, 255, 255, 0.2);
    --timebarplayer: rgba(255, 255, 255, 0.4);

    --normaltext: 200;
    --boldtext: 500;

    color-scheme: light;
}

* {
    padding: 0;
    margin: 0;

    -webkit-appearance: none;

    font-weight: var(--normaltext);

    text-decoration: none;
    color: var(--textcolor);

    font-family: "Outfit", "Sarabun", sans-serif;
}

body { 
    font-weight: 300;
    background: var(--bgcolor);

    transition: 0.3s;

    -webkit-text-size-adjust: 100%;
}

.navbar {
    font-weight: 500;
    padding: 0.5em;

    background: var(--navbarbg);

    transition: 0.3s;

    z-index: 1000;
}

.navbar a {
    padding: 0 0.5em;

    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
    
    display: inline-block;
}

.navbar a:hover {
    opacity: 0.8;
}

.navbar-right {
    float: right;
}

.popup {
    left: 0.5em;
    right: 0.5em;
    bottom: -10em;
    
    width: 90vw;
    max-width: 40em;
    
    margin: auto;

    text-align: center;
    color: var(--textcolor);
    background: var(--red);
    border-radius: 0.3em;

    position: fixed;
}

.popup-ani {
    animation: errorbox 5s;
}

.footer {
    padding: 0.5em;

    font-size: 0.8em;
    text-align: center;
    opacity: 0.5;
}

.popup-closebtn {
    position: absolute;
    right: 0.5em;
    color: var(--alt-textcolor);
    cursor: pointer;
    text-align: center;
    width: 1em;
    height: 1em;
    opacity: 0.4;
    transition: 0.3s;
}

.popup-closebtn:hover {
    opacity: 0.8;
}

.timebar-wrap {
    height: 0.3em;
    border-radius: 0 0 0.3em 0.3em;
    width: 100%;
    background-color: var(--timebarwrapper);
    overflow: hidden;
}

.timebar-player {
    width: 0%;
    height: 100%;
    background-color: var(--timebarplayer);
}

.timebar-player-ani {
    animation: widthincrease 5s linear;
}

@keyframes errorbox {
    0% {bottom: -10em;}
    10% {bottom: 0.5em;}
    90% {bottom: 0.5em;}
    100% {bottom: -10em;}
}

@keyframes widthincrease {
    0%   {width: 0%;}
    10%  {width: 0%;}
    90%  {width: 100%;}
    100% {width: 100%;}
}

@keyframes fadeout {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

@media (prefers-color-scheme: light) {
    :root {
        --navbarbg: rgb(235, 235, 235);
        --textcolor: rgb(0, 0, 0);
        --alt-textcolor: rgb(255, 255, 255);
        --bgcolor: rgb(255, 255, 255);
    
        --tablebg: rgb(195, 195, 195);
        --subjbg: rgb(235, 235, 235);
        --subjbg-darker: rgb(210, 210, 210);

        --linkblue: rgb(28, 69, 158);

        --timebarwrapper: rgba(255, 255, 255, 0.2);
        --timebarplayer: rgba(255, 255, 255, 0.4);
    
        --normaltext: 200;
        --boldtext: 500;
    
        color-scheme: light;
    }

    .timebar-wrap {
        background-color: var(--timebarwrapper);
    }
    
    .timebar-player {
        background-color: var(--timebarplayer);
    }
}   