.timetable-title {
    padding: 1em 0;

    text-align: center;
}

.clock-wrapper {
    text-align: center;
}

#clock {
    padding: 0;

    font-size: 2em;
    font-weight: var(--boldtext);
}

#day {
    padding: 0;
}

.table {
    display: grid;

    gap: 0.5em;
    grid-template-columns: repeat(12, 1fr);
    
    width: 85vw;
    
    padding: 0.5em;
    margin: 1em auto;
    
    overflow-x: auto;
    
    background: var(--tablebg);
    border-radius: 0.5em;
}

.subjectgrid {
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    padding: 1em 0.5em;

    background: var(--subjbg);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.2em;

    text-align: center;
    
    transition: 0.3s;

    cursor: pointer;
}

.subjectgrid:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.subjectgrid-darker {
    background: var(--subjbg-darker);
}

.subjectgrid-time {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-weight: var(--boldtext);

    padding: 0.5em;

    background: var(--subjbg-darker);
    border-radius: 0.2em;
    border: 2px solid transparent;
}

.dclass {
    grid-column: span 2;
}

.links-wrapper {
    display: grid;
    
    grid-template-columns: 1fr 1fr 2fr;

    width: 90vw;
    max-width: 60em;

    padding: 1em 0 0.5em 0;
    margin: auto;

    text-align: center;
}

.links-wrapper div {
    padding: 0.25em;
}

.links-wrapper div > p {
    padding: 0.25em;
}

.searchgoogle {
    margin: 4em 0;
}

#searchbar, #searchsubmit {
    padding: 0.5em;

    border: none;
    border-radius: 0.2em;
    outline: none;
}

#searchbar {
    background: var(--tablebg);
    color: var(--textcolor);
}

#searchsubmit {
    background: var(--textcolor);
    color: var(--alt-textcolor);

    font-weight: var(--boldtext);

    cursor: pointer;
}

.fulldisplay-overlay {
    position: fixed;

    top: 0;
    
    width: 100vw;
    height: 100vh;
    
    background: var(--overlay-background);
    backdrop-filter: blur(0.2em);
    -webkit-backdrop-filter: blur(0.2em);

    z-index: 1;
}

.changelogframe-wrapper {
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90vw;
    max-width: 40em;
    height: 90vh;
    max-height: 30em;

    background: var(--overlay-box-background);
    border: 1px solid var(--subjbg-darker);
    border-radius: 0.5em;
}

.changelogframe-text {
    padding: 0.5em;

    text-align: center;
    font-weight: var(--boldtext);
}

.changelogframe {
    display: block;

    width: 100%;
    height: 80%;

    margin: auto;

    border: none;
}

.account-wrapper {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 90vw;
    max-width: 30em;

    height: max-content;
    max-height: 70vh;

    padding: 1em;

    background: var(--overlay-box-background);
    border: 1px solid var(--subjbg-darker);
    border-radius: 0.5em;

    overflow: auto;

    z-index: 1;
}

.account-img {
    display: block;

    max-width: 100%;

    margin: auto;

    border-radius: 0.3em;
}

.account-wrapper a {
    color: var(--linkblue);
}

.account-index-value {
    width: 100%;

    padding: 0.25em;

    background: transparent;
    outline: none;
    border: 1px solid var(--textcolor);
    border-radius: 0.3em;
}

.fixedribbon {
    display: none;
    
    align-items: center;
    justify-content: center;

    padding: 0.25em 0.5em;

    text-align: center;
    
    background: var(--bgcolor);
    border-top: 1px solid var(--subjbg);
    border-bottom: 1px solid var(--subjbg);
}

.ribbon-btn {
    display: inline-block;

    width: max-content;

    padding: 0.25em 0.5em;
    margin: 0 0 0 0.25em;

    cursor: pointer;
    border-radius: 0.2em;

    font-weight: var(--boldtext);

    color: var(--bgcolor);
    background: var(--textcolor);
}

.onlineonsitebtn {
    display: block;

    width: max-content;

    padding: 0.5em 1em;
    margin: auto; border-radius: 0.3em;

    background: var(--textcolor);

    text-decoration: none;
}

.onlineonsitebtn span {
    color: var(--alt-textcolor);
}

.onlineonsitebtn > .material-symbols-outlined {
    font-size: 10px;
}

@media only screen and (max-width: 500px) {
    .links-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .searchgoogle {
        margin: 0;
    }

    .google-wrapper {
        grid-column: span 2;
    }
}