.timetable-title {
    padding: 1em;
    text-align: center;
}

.clock-wrapper {
    text-align: center;
}

#clock {
    font-size: 2em;
    font-weight: var(--boldtext);
    padding: 0;
}

#day {
    padding: 0;
}

.table {
    gap: 0.5em;
    
    width: 100%;

    grid-template-columns: repeat(12, 1fr);
    
    display: grid;
}

.table-wrapper {
    width: 85vw;
    background: var(--tablebg);
    padding: 0.5em;
    border-radius: 0.5em;
    overflow-x: auto;
    margin: 1em auto;
}

.subjectgrid {
    background: var(--subjbg);
    display: flex;
    padding: 1em 0.5em;
    text-align: center;
    border-radius: 0.2em;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.subjectgrid:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.subjectgrid-darker {
    background: var(--subjbg-darker);
}

.subjectgrid-time {
    background: var(--subjbg-darker);
    text-align: center;
    padding: 0.5em;
    border-radius: 0.2em;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--boldtext);
}

.dclass {
    grid-column: span 2;
}

.links-wrapper {
    width: 90vw;
    max-width: 60em;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 1em;
}

.links-wrapper div {
    padding: 0.25em;
}

.links-wrapper div > p {
    padding: 0.25em;
}

.searchgoogle {
    margin: 4em 0;
}

#searchbar, #searchsubmit {
    padding: 0.5em;
    border: none;
    outline: none;
    border-radius: 0.2em;
}

#searchbar {
    background: var(--tablebg);
    color: var(--textcolor);
}

#searchsubmit {
    background: var(--textcolor);
    color: var(--alt-textcolor);
    font-weight: var(--boldtext);
    cursor: pointer;
}

.changelogframe-bg {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: none;
}

.changelogframe-wrapper {
    width: 90vw;
    max-width: 40em;
    height: 90vh;
    max-height: 30em;
    background: var(--changelogbg);
    border-radius: 0.5em;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.changelogframe-text {
    text-align: center;
    padding: 0.5em;
    font-weight: var(--boldtext);
}

.changelogframe {
    border: none;
    width: 100%;
    height: 80%;
    display: block;
    margin: auto;
}

.update {
    position: fixed;
    display: none;
    box-sizing: border-box;

    right: 1em;
    bottom: 1em;

    width: 90vw;
    max-width: max-content;
    height: max-content;

    padding: 1em;

    text-align: center;
    border-radius: 0.5em;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: var(--tablebg);
    z-index: 1;
}

.update-btns {
    width: max-content;

    margin: auto;
}

.update-btns a {
    display: inline-block;
    
    width: max-content;

    padding: 0.25em 0.5em;
    margin: 0.5em 0.25em 0 0.25em;

    cursor: pointer;
    border-radius: 0.2em;
    color: var(--alt-textcolor);
    background: var(--blue);
}

@media only screen and (max-width: 500px) {
    .links-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .searchgoogle {
        margin: 0;
    }

    .google-wrapper {
        grid-column: span 2;
    }
}