:root, :root.light {
    --background-html: rgb(185, 212, 255);
}

:root.dark {
    --background-html: rgb(12, 24, 46);
}

@media (prefers-color-scheme: dark) {
    :root, :root.sync-os {
        --background-html: rgb(12, 24, 46);
    }
}