body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;

    background: #ffffff;
    color: #101114;
    
    overflow: hidden;

    -webkit-text-size-adjust: 100%;
    font-size: 0.8em;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

a {
    color: rgb(28, 69, 158);
}

hr {
    margin: 1em 0;
}

.sidebar {
    position: fixed;

    top: 0;
    height: 100vh;
    width: 25em;

    padding: 1em;
    padding-bottom: 5em;

    background: #ffffff;

    transition: 0.3s;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar h1, p {
    text-align: center;
}

.dottedbox {
    padding: 0.5em;
    margin: 0.5em;

    border: 1px dashed #101114;
}

.dottedbox div > p > a {
    display: block;
    overflow: hidden;
}

.subject-text {
    font-weight: bold;
    font-size: 1.2em;
}

.linkblock a {
    padding: 0.25em 1em;
}

.linkblock p {
    font-weight: bold;
    padding: 0.25em;
}

.linkblock a {
    display: block;
}

.title {
    width: max-content;
    margin: auto;
}

.title p {
    text-align: right;
    margin-top: -0.5em;
    font-size: 0.8em;
}

.clock {
    padding: 1em;
}

#clock {
    font-size: 2em;
}

.main {
    height: 100vh;

    margin-left: 25em;

    transition: 0.3s;
    scroll-behavior: smooth;

    overflow-y: auto;
}

.main-content {
    padding: 0.5em;
    padding-bottom: 5em;
}

.sidebar-btn {
    display: block;

    width: max-content;
    
    padding: 0.5em;
    margin: 1em auto 0 auto;

    color: #ffffff;
    background: rgb(28, 69, 158);

    font-weight: bold;
}

#opensidebar-btn {
    transition: 0.3s;
}

@media only screen and (max-width: 750px) {
    .sidebar {
        width: 100vw;
    }

    .main {
        margin-left: 0;
    }
}