.intro {
    display: grid;

    grid-template-columns: max-content 1fr;

    gap: 2rem;

    padding: 2rem;

    width: 100%;
    max-width: 60rem;

    margin: auto;
}

@media (max-width: 500px) {
    .intro {
        grid-template-columns: 1fr;
    }
}

.intro img {
    display: block;

    width: 10rem;
    height: 10rem;

    margin: auto;

    border-radius: 50%;

    border: 1px solid var(--color-gray-4);
}

.intro h2 {
    font-weight: var(--font-weight-bold);
}

.intro ul {
    margin-left: 1.5rem;
}

.projects {
    width: 100%;
    max-width: 80rem;

    padding: 1rem;
    margin: auto;
}

.projects>p {
    margin-bottom: 1rem;
}

.projects-wrapper {
    width: 100%;

    border-radius: 0.5rem;

    overflow: auto;
}

.projects-scroll {
    width: max-content;
}

.projects-card {
    display: inline-block;

    width: 20rem;
    max-width: calc(100vw - 4rem);
    height: 25rem;

    padding: 1rem;
    margin: 0 0.5rem;

    background: var(--color-gray-5);
    border: 1px solid var(--color-gray-4);
    border-radius: 0.5rem;

    overflow: auto;
}

.projects-card img {
    width: 100%;

    margin-bottom: 1rem;

    border-radius: 0.2rem;
}

.projects-title {
    display: inline-flex;

    align-items: center;

    color: var(--color-main-text);

    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
}