.theme-option {
    display: none !important;

    position: absolute;

    top: 100%;
    right: 0;

    width: max-content;
    
    background: var(--color-gray-6);
    border: 1px solid var(--color-gray-4);
}

.theme-option-shown {
    display: flex !important;
    flex-direction: column;
}

.theme-option a {
    width: 100%;
    
    display: block;
}

.theme-option a:hover {
    background: var(--color-gray-5);

    transition: 0.2s background-color, 0.2s color;
}

.main {
    width: 100%;
    max-width: 1000px;

    margin: auto;
}

header {
    display: flex;

    gap: 2rem;

    padding: 2rem;
}

header img {
    width: 10rem;
    height: 10rem;

    margin: 0 auto;

    aspect-ratio: 1/1;

    border: 1px solid var(--color-gray-4);
    
    border-radius: 50%;
}

header > div > div {
    margin-bottom: 1rem;
}

.table-aboutme {
    width: 100%;
    max-width: 30rem;

    margin: 1rem auto 0 auto;
}

.table-aboutme td:first-child {
    text-align: center;

    font-weight: var(--font-weight-bold);
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: column;

        gap: 1rem;

        padding: 1rem;
    }
}