@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --default-assetcolor: #ffffff;
    --default-background: #202124;
    --default-sidebar: #151619;

    --default-overlaycolor: rgba(0, 0, 0, 0.3);

    --var-blackopacity-one: rgba(0, 0, 0, 0.1);
    --var-blackopacity-two: rgba(0, 0, 0, 0.2);
    --var-blackopacity-three: rgba(0, 0, 0, 0.3);
    --var-blackopacity-four: rgba(0, 0, 0, 0.4);
    --var-blackopacity-five: rgba(0, 0, 0, 0.5);

    --var-whiteopacity-one: rgba(255, 255, 255, 0.1);
    --var-whiteopacity-two: rgba(255, 255, 255, 0.2);
    --var-whiteopacity-three: rgba(255, 255, 255, 0.3);
    --var-whiteopacity-four: rgba(255, 255, 255, 0.4);
    --var-whiteopacity-five: rgba(255, 255, 255, 0.5);

    --blue: rgb(120, 167, 218);
    --pink: rgb(214, 134, 183);
    --purple: rgb(202, 145, 255);
    --yellow: rgb(249, 215, 61);
    --orange: rgb(248, 166, 108);
    --red: rgb(255, 100, 100);
    --darkred: rgb(255, 50, 50);
    --green: rgb(146, 228, 175);
    --darkgreen: rgb(108, 202, 89);
    --white: #fff;
    --black: #323232;
    
    color-scheme: dark;
}

* {
    padding: 0;
    margin: 0;
    color: var(--default-assetcolor);
    text-decoration: none;
}

body {
    font-family: 'Urbanist', "Sarabun", sans-serif;
    top: 0;
    background: var(--default-background);
}

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;

    width: 15em;
    height: 100vh;

    margin-left: -16em;

    background: var(--default-sidebar);
    border-right: 1px solid var(--var-whiteopacity-one);

    transition: 0.5s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;

    z-index: 3;
}

.sidebar-btn {
    display: block;
    top: 0;
    left: 0;

    width: 5em;

    padding: 0.5em;
    
    background: var(--var-blackopacity-three);
}

.sidebar-items {
    display: block;

    padding: 0.5em;

    transition: 0.3s;

    border-left: 3px solid transparent;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-items:hover {
    border-left: 3px solid var(--var-whiteopacity-five);
}

.line {
    width: 100%;
    height: 1px;

    background: var(--var-whiteopacity-one);
}

.active {
    border-left: 3px solid var(--default-assetcolor);
}

.active:hover {
    border-left: 3px solid var(--default-assetcolor);
}

.close {
    border-left: 3px solid var(--red);

    transition: 0.3s;
}

.close:hover {
    border-left: 3px solid var(--darkred);
}

.open {
    border-left: 3px solid var(--green);

    transition: 0.3s;
}

.open:hover {
    border-left: 3px solid var(--darkgreen);
}

img[alt="Profile Picture"] {
    display: block;

    width: 5em;
    height: 5em;

    margin: auto;
    margin-top: 1em;

    border-radius: 50%;
}