/* Outfit */

/* Normal */
@font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf");

    font-weight: 100 900;

    font-display: block;
}

/* Roboto Mono */

/* Normal */
@font-face {
    font-family: "Roboto Mono";
    src: url("/assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");

    font-weight: 100 700;

    font-display: block;
}

/* Noto Sans Mono */
@font-face {
    font-family: "Noto Sans Mono";
    src: url("/assets/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont.ttf");

    font-weight: 100 900;
    font-style: normal;

    font-display: block;
}

/* Noto Serif */

/* Normal */
@font-face {
    font-family: "Noto Serif";
    src: url("/assets/fonts/Noto_Serif/NotoSerif-VariableFont.ttf");

    font-weight: 100 900;
    font-style: normal;

    font-display: block;
}

@font-face {
    font-family: "Noto Serif";
    src: url("/assets/fonts/Noto_Serif/NotoSerif-Italic-VariableFont.ttf");

    font-weight: 100 900;
    font-style: italic;

    font-display: block;
}

/* Tlwg Mono */

/* Normal */

@font-face {
    font-family: "Tlwg Mono";
    src: url("/assets/fonts/TlwgMono/TlwgMono.ttf");

    font-weight: 300;
    font-style: normal;

    font-display: block;
}

@font-face {
    font-family: "Tlwg Mono";
    src: url("/assets/fonts/TlwgMono/TlwgMono-Bold.ttf");

    font-weight: 700;
    font-style: normal;

    font-display: block;
}

/* Italic */
@font-face {
    font-family: "Tlwg Mono";
    src: url("/assets/fonts/TlwgMono/TlwgMono-Oblique.ttf");

    font-weight: 300;
    font-style: italic;

    font-display: block;
}

@font-face {
    font-family: "Tlwg Mono";
    src: url("/assets/fonts/TlwgMono/TlwgMono-BoldOblique.ttf");

    font-weight: 700;
    font-style: italic;

    font-display: block;
}



/* Tlwg Typewriter */

/* Normal */

@font-face {
    font-family: "Tlwg Typewriter";
    src: url("/assets/fonts/TlwgTypewriter/TlwgTypewriter.ttf");

    font-weight: 300;
    font-style: normal;

    font-display: block;
}

@font-face {
    font-family: "Tlwg Typewriter";
    src: url("/assets/fonts/TlwgTypewriter/TlwgTypewriter-Bold.ttf");

    font-weight: 700;
    font-style: normal;

    font-display: block;
}

/* Italic */
@font-face {
    font-family: "Tlwg Typewriter";
    src: url("/assets/fonts/TlwgTypewriter/TlwgTypewriter-Oblique.ttf");

    font-weight: 300;
    font-style: italic;

    font-display: block;
}

@font-face {
    font-family: "Tlwg Typewriter";
    src: url("/assets/fonts/TlwgTypewriter/TlwgTypewriter-BoldOblique.ttf");

    font-weight: 700;
    font-style: italic;

    font-display: block;
}



/* Tlwg Typist */

/* Normal */

@font-face {
    font-family: "Tlwg Typist";
    src: url("/assets/fonts/TlwgTypist/TlwgTypist.ttf");

    font-weight: 300;
    font-style: normal;

    font-display: block;
}

@font-face {
    font-family: "Tlwg Typist";
    src: url("/assets/fonts/TlwgTypist/TlwgTypist-Bold.ttf");

    font-weight: 700;
    font-style: normal;

    font-display: block;
}

/* Italic */
@font-face {
    font-family: "Tlwg Typist";
    src: url("/assets/fonts/TlwgTypist/TlwgTypist-Oblique.ttf");

    font-weight: 300;
    font-style: italic;

    font-display: block;
}

@font-face {
    font-family: "Tlwg Typist";
    src: url("/assets/fonts/TlwgTypist/TlwgTypist-BoldOblique.ttf");

    font-weight: 700;
    font-style: italic;

    font-display: block;
}



/* Tlwg Typo */

/* Normal */

@font-face {
    font-family: "Tlwg Typo";
    src: url("/assets/fonts/TlwgTypo/TlwgTypo.ttf");

    font-weight: 300;
    font-style: normal;

    font-display: block;
}

@font-face {
    font-family: "Tlwg Typo";
    src: url("/assets/fonts/TlwgTypo/TlwgTypo-Bold.ttf");

    font-weight: 700;
    font-style: normal;

    font-display: block;
}

/* Italic */
@font-face {
    font-family: "Tlwg Typo";
    src: url("/assets/fonts/TlwgTypo/TlwgTypo-Oblique.ttf");

    font-weight: 300;
    font-style: italic;

    font-display: block;
}

@font-face {
    font-family: "Tlwg Typo";
    src: url("/assets/fonts/TlwgTypo/TlwgTypo-BoldOblique.ttf");

    font-weight: 700;
    font-style: italic;

    font-display: block;
}



/* Sarabun */

/* Normal */
@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-Light.ttf");

    font-weight: 300;
    font-style: normal;

    font-display: block;
}

@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-Medium.ttf");

    font-weight: 500;
    font-style: normal;

    font-display: block;
}

@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-Bold.ttf");

    font-weight: 700;
    font-style: normal;

    font-display: block;
}

/* Italic */
@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-LightItalic.ttf");

    font-weight: 300;
    font-style: italic;

    font-display: block;
}

@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-MediumItalic.ttf");

    font-weight: 500;
    font-style: italic;

    font-display: block;
}

@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-BoldItalic.ttf");

    font-weight: 700;
    font-style: italic;

    font-display: block;
}

@font-face {
    font-family: "Noto Serif Thai";
    src: url("/assets/fonts/Noto_Serif_Thai/NotoSerifThai-VariableFont.ttf");

    font-weight: 100 900;

    font-display: block;
}

@font-face {
    font-family: "Monomon";
    src: url("/assets/fonts/SOV_Monomon/SOV_monomon-hinted.ttf");

    font-weight: 100 900;
    font-style: normal;

    font-display: block;
}

/* Material Symbols Outlined */

/* Icons */
@font-face {
    font-family: 'Material Symbols Outlined';
    src: url("/assets/fonts/Material_Symbols_Outlined/MaterialSymbolsOutlined_May2023-1.woff2") format('woff2');

    font-weight: 100 700;
    font-style: normal;
    
    font-display: block;
}

/* Class Declaring */
.material-symbols-outlined {
    display: inline-block;

    font-family: 'Material Symbols Outlined';

    font-weight: normal;
    font-style: normal;
    font-size: 24px;

    line-height: 1;

    letter-spacing: normal;
    text-transform: none;
    
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;

    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

}

/* Noto Color Emoji */

/* Emojis */
@font-face {
    font-family: "Noto Color Emoji";
    src: url("/assets/fonts/Noto_Color_Emoji/NotoColorEmoji-Regular.ttf");

    font-weight: 400;
    font-style: normal;

    font-display: block;
}