.notification-wrapper {
    position: fixed;

    bottom: 1em;
    right: 1em;

    width: calc(100% - 2em);
    max-width: 30em;
    height: max-content;

    transition: 0.2s color, 0.2s background-color, 0.2s border-color;

    z-index: 1000;
}

.notification-box {
    display: grid;

    grid-template-columns: 1fr max-content;
    gap: 0.5em;

    width: 100%;

    padding: 0.5em;
    /* margin: 0.5em 0; */

    background: var(--color-gray-6);

    border: 1px solid var(--color-gray-4);
    border-top: none;

    animation: notification-fly-in 0.2s;
}

.notification-box:first-child {
    border: 1px solid var(--color-gray-4);

    border-radius: 0.5rem 0.5rem 0 0;
}

.notification-box:last-child {
    border-bottom: 1px solid var(--color-gray-4);
    border-radius: 0 0 0.5rem 0.5rem;
}

.notification-box:only-child {
    border-bottom: 1px solid var(--color-gray-4);
    border-radius: 0.5rem;
}

.notification-box-out {
    animation: notification-fly-out 0.2s;
}

.notification-close {
    display: flex;

    align-items: center;

    overflow: hidden;
}

.notification-close {
    color: var(--color-main-text);
}

.notification-close span.material-symbols-outlined {
    font-size: 1em;
}

.notification-error {
    background: var(--color-red) !important;
    border: 1px solid var(--color-main-transparent-light) !important;
}

.notification-error,
.notification-error .notification-close {
    color: var(--color-white);
}

@keyframes notification-fly-in {
    0% {
        opacity: 0;
        transform: translateY(calc(1em));
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes notification-fly-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(calc(1em));
    }
}