.mobiletable {
    width: 90vw;
    max-width: 25em;

    padding: 0 0.5em;
    margin: 1em auto;

    box-sizing: border-box;

    background: var(--tablebg);
    border-radius: 0.5em;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.mobiletable-element {
    width: 100%;

    padding: 1em;
    margin: 0.5em auto;

    box-sizing: border-box;
    display: block;
    
    color: var(--daystextcolor);
    text-decoration: none;
    text-align: center;
    font-weight: var(--boldtext);
    border-radius: 0.2em;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.mobiletable-element:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
}