@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root, :root.light {
    --html-background: url("./wallpaper-light.jpg");
    --body-background: #ffffffcc;
    --sidebar-background: #ffffff;

    --a-background: #1c459e;

    --border-color: #aaaaaa;

    --text-color-main: #000000;
    --text-color-alt: #ffffff;

    color-scheme: light;
}

:root.dark {
    --html-background: url("./wallpaper-dark.jpg");
    --body-background: #101114cc;
    --sidebar-background: #101114;

    --a-background: #7cb0ff;

    --border-color: #505154;

    --text-color-main: #ffffff;
    --text-color-alt: #000000;

    color-scheme: dark;
}

html {
    height: 100vh;

    overflow: auto;

    background: var(--html-background) no-repeat center center fixed;
    background-size: cover;
}

body {
    width: 100vh;
    max-width: 980px;

    margin: auto;

    font-family: "Outfit", "Sarabun", sans-serif;

    background: var(--body-background);
    background-size: cover;
    backdrop-filter: blur(2em);
    -webkit-backdrop-filter: blur(2em);
    color: var(--text-color-main);
    
    overflow: hidden;

    -webkit-text-size-adjust: 100%;
    font-size: 0.8em;

    transition: 0.3s;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

a {
    color: var(--a-background);
}

hr {
    width: 100%;
    height: 1px;
    
    margin: 1em 0;
    
    background: var(--border-color);
    border: none;
}

.sidebar {
    position: fixed;

    top: 0;
    height: 100vh;
    width: 25em;

    padding: 1em;
    padding-bottom: 6em;

    background: var(--sidebar-background);

    transition: 0.3s;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar h1, p {
    text-align: center;
}

.dottedbox {
    padding: 0.5em;
    margin: 0.5em;

    background: var(--body-background);
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
}

.dottedbox div > p > a {
    display: block;
    overflow: hidden;
}

.subject-text {
    font-weight: bold;
    font-size: 1.2em;
}

.linkblock a {
    padding: 0.25em 1em;
}

.linkblock p {
    font-weight: bold;
    padding: 0.25em;
}

.linkblock a {
    display: block;
}

.title {
    width: max-content;
    margin: auto;
}

.title p {
    text-align: right;
    margin-top: -0.5em;
    font-size: 0.8em;
}

.clock {
    padding: 1em;
}

#clock {
    font-size: 2em;
}

.main {
    height: 100vh;

    margin-left: 25em;

    transition: 0.3s;
    scroll-behavior: smooth;

    overflow-y: auto;
}

.main-content {
    padding: 0.5em;
    padding-bottom: 6em;
}

.sidebar-btn {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 3em;
    height: 3em;
    
    padding: 0.5em;
    margin: auto;

    color: var(--sidebar-background) !important;
    background: var(--a-background);
    border-radius: 10em;

    font-weight: bold;

    cursor: pointer;
}

.open-sidebar {
    position: fixed;

    left: 1em;
    bottom: 1em;

    margin: 0 !important;
}

#opensidebar-btn {
    transition: 0.3s;
}

@media only screen and (max-width: 750px) {
    .sidebar {
        width: 100vw;
    }

    .main {
        margin-left: 0;
    }
}
