.header {
    padding: 1em;
    
    background: url("./TitleBG.png") no-repeat center right;
    background-size: cover;
    border-bottom: 1px solid var(--subjbg);
}

.header h1 {
    font-weight: var(--boldtext);

    color: var(--black);
}

.header p {
    color: var(--black);
}

.intro {
    padding: 1em;

    width: 100vw;
    max-width: 50em;

    margin: auto;
}

.intro h2 {
    font-weight: var(--boldtext);
}

.projects {
    width: 100%;
    max-width: 100em;

    padding: 1em;
    margin: auto;
}

.projects h3 {
    margin-bottom: 1em;

    font-weight: var(--boldtext);
}

.projects-wrapper {
    width: 100%;

    border-radius: 0.5em;

    overflow: auto;
}

.projects-scroll {
    width: max-content;
}

.projects-card {
    position: relative;
    display: inline-block;

    width: 20em;
    height: 25em;

    padding: 1em;
    margin: 0 0.5em;

    background: var(--subjbg-darker);
    border-radius: 0.5em;

    overflow: hidden;
}

.projects-card img {
    width: 100%;

    margin-bottom: 1em;

    border-radius: 0.3em;
}

.projects-title {
    color: var(--textcolor);

    font-size: 1.2em;
    font-weight: var(--boldtext);
}

.projects-description {
    color: var(--textcolor);
}

.projects-description a {
    color: var(--blue);

    font-weight: var(--boldtext);
}

.projects-button {
    position: absolute;
    display: block;

    left: 50%;
    bottom: 1.5em;

    transform: translateX(-50%);
    
    width: 80%;

    padding: 0.5em;
    margin: auto;

    text-align: center;

    color: var(--black);
    background: var(--white);
    border-radius: 0.3em;

    cursor: pointer;
}