@import url("/assets/css/global.css");

body {
    display: flex;

    min-height: 100dvh;

    color: white;

    align-items: center;
    justify-content: center;

    overflow: hidden;

    text-align: center;

    font-weight: 300;

    background: black;

    opacity: 0;
    animation: fadein 5s 1s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.clock,
#timeremaining-refreshcontent {
    font-family: "Tlwg Typewriter", monospace;
}

.clock-wrapper {
    padding: 1rem;
}

.background-video {
    min-width: 100vw; 
    min-height: 100vh; 

    width: auto;
    height: auto;

    max-height: 100vh;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index: -100;

    animation: fadein 5s;
}

@media screen and (orientation: portrait) {
    .background-video {
        /* width: 100vw; */
        max-width: none;
        max-height: 100vh;
        
    }
}

.background-dim {
    top: 0;
    left: 0;

    position: fixed;

    width: 100dvw;
    height: 100dvh;

    background: rgba(0, 0, 0, 0.7);

    z-index: -99;
}

.content-wrapper {
    width: max-content;

    padding: 1rem;
}

hr {
    display: block;

    width: 100%;
    height: 1px;

    border: none;

    background: white;
}

.periodinfo {
    padding: 1rem;
}

.quotes-wrapper {
    opacity: 0;

    position: fixed;

    bottom: 0;

    padding: 2rem;

    max-width: 30rem;

    transition: 1s opacity;
}

.quote {
    display: block;
    text-align: left;
    font-style: italic;
}

.author {
    display: block;
    text-align: right;  
    font-weight: 700;
}