* {
    padding: 0;
    margin: 0;

    font-family: "SF Mono", "Cascadia Code", "Ubuntu Mono", monospace;
}

body {
    display: flex;

    min-height: 100dvh;

    color: white;

    align-items: center;
    justify-content: center;

    overflow: hidden;

    text-align: center;

    font-weight: 300;
}

.clock-wrapper {
    padding: 1rem;
}

.background-video {
    min-width: 100%; 
    min-height: 100%; 

    width: auto;
    height: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index: -100;
}

.background-dim {
    top: 0;
    left: 0;

    position: fixed;

    width: 100dvw;
    height: 100dvh;

    background: rgba(0, 0, 0, 0.7);

    z-index: -99;
}

.content-wrapper {
    width: max-content;

    padding: 1rem;

    transform: scale(2);
}

hr {
    display: block;

    width: 100%;
    height: 1px;

    border: none;

    background: white;
}

.periodinfo {
    padding: 1rem; 

    /* border: 1px solid var(--color-gray-4); 
    background: var(--color-gray-6); 
    
    border-radius: 0.5rem;  */
}

.quotes-wrapper {
    position: fixed;

    bottom: 2rem;
}