* {
    font-family: "Roboto Mono", monospace;
}

body {
    display: flex;

    min-height: 100dvh;

    align-items: center;
    justify-content: center;

    overflow: hidden;

    text-align: center;
}

.clock-wrapper {
    padding: 1rem;
}

.background-video {
    top: 0;
    left: 0;

    position: fixed;

    aspect-ratio: 16/9;
    height: 100dvh;

    z-index: -100;
}

.background-dim {
    top: 0;
    left: 0;

    position: fixed;

    width: 100dvw;
    height: 100dvh;

    background: rgba(0, 0, 0, 0.6);

    z-index: -99;
}

.content-wrapper {
    width: max-content;

    padding: 1rem;

    transform: scale(2);
}

hr {
    display: block;

    width: 100%;
    height: 1px;

    border: none;

    background: var(--color-white);
}

.periodinfo {
    padding: 1rem; 

    /* border: 1px solid var(--color-gray-4); 
    background: var(--color-gray-6); 
    
    border-radius: 0.5rem;  */
}