.main-edit {
    padding: 2rem;

    overflow: auto;

    caret-color: var(--color-blue);
    background: var(--background-html);
}

.main-edit h1, h2, h3, h4, h5, h6, p:focus {
    width: 100%;
    
    outline: none;
}

.main-edit-title *,
.main-edit-content * {
    font-family: inherit !important;

    line-height: 1.4;
}

.main-edit-title {
    font-weight: var(--font-weight-bold);
}

.main-edit-content a {
    cursor: pointer !important;
}

.main-edit-sansserif,
.main-edit-sansserif * {
    font-family: "Outfit", "Sarabun", sans-serif !important;
}

.main-edit-serif,
.main-edit-serif * {
    font-family: "Noto Serif", "Noto Serif Thai", serif !important;
}

.main-edit-monospace,
.main-edit-monospace * {
    font-family: "Roboto Mono", "Sarabun", monospace !important;
}

.main-edit-thaimonospace,
.main-edit-thaimonospace * {
    font-family: "Tlwg Typewriter", monospace !important;
}

.main-edit-system,
.main-edit-system * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.main-edit-content {
    flex-grow: 1;

    padding-bottom: 50vh;

    outline: none;
}

.main-edit-title:empty::before,
.main-edit-content:empty::before {
    content: attr(placeholder);

    color: var(--color-gray-6);

    cursor: text;
}

.main-edit-content img {
    display: block;

    width: max-content;
    max-width: 100%;

    margin: 0.5rem 0;
    border: 1px solid var(--color-gray-4);
}

.main-edit-content input[type="checkbox"] {
    display: inline-block;
    align-items: center;
    
    transform: translateY(0.1rem);
}

.main-edit-filepath {
    justify-content: start !important;

    white-space: nowrap;

    text-overflow: ellipsis;

    overflow: hidden;

    flex-grow: 1;
}

.main-edit-section-title {
    margin-bottom: 0.5rem;

    width: 100%;

    overflow: hidden;

    white-space: nowrap;

    letter-spacing: 0.2rem;
}

.editor-wrapper-fullwidth {
    max-width: none !important;
    
    padding: 0;
    border: none;
    border-radius: 0;
}