.notes-panel-wrapper {
    flex-grow: 1;

    padding: 0 !important;
    
    overflow: auto;
}

.notes-panel-title {
    padding: 1rem 1rem 0.25rem 1rem;
}

.notes-panel {
    margin: 0 0 10rem 0;
}

.notes-list {
    display: grid;

    grid-template-columns: 1fr max-content;
    
    align-items: center;

    gap: 0.25rem;

    width: 100%;
    max-width: 20rem;

    padding: 0 0.5rem 0 calc(1rem - 3px);

    background: var(--color-gray-6);
    border-left: 3px solid transparent;

    opacity: 0.8;

    transition: 0.2s background-color, 0.2s opacity, 0.2s color;
    
    user-select: none;
}

.notes-list:not(.notes-list-active):hover {
    background: var(--color-gray-5);
    border-left: 3px solid var(--color-blue);
    
    cursor: pointer;

    opacity: 1;
}

.notes-list:not(.notes-list-active):active {
    border-left: 3px solid var(--color-gray-1);
}

.notes-list:not(.notes-list-active):active .note-panel-title {
    color: var(--color-gray-1);
}

.notes-list:not(.notes-list-active):active .note-panel-delete {
    opacity: 0;
}

.notes-list-tools {
    display: flex;

    align-items: center;

    height: 100%;
}

.note-panel-title {
    padding: 0.5rem 0;

    width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;

    overflow: hidden;
}

.notes-list-active {
    background: var(--color-selection);
    border-left: 3px solid var(--color-blue);

    opacity: 1;

    transform: 0.2s color, 0.2s background-color, 0.2s border-color;
}

.notes-list-active a {    
    color: var(--color-main-text) !important;

    font-weight: var(--font-weight-semibold);
}

.note-panel-delete {
    cursor: pointer !important;
}

.notes-list .note-panel-delete {
    opacity: 0;

    transition: 0.2s opacity;
}

.notes-list:hover .note-panel-delete {
    opacity: 1;
}