.pwa-navsettings {
    display: none !important;

    border-left: 1px solid var(--color-gray-4);
}

@media screen and (display-mode: standalone) {
    nav {
        display: none !important;
    }

    .application-root {
        grid-template-rows: 100dvh;

        border-top: 1px solid var(--color-gray-4);
    }

    .main-content {
        grid-template-rows: max-content max-content calc(100dvh - 36.5px);
    }

    .pwa-navsettings {
        display: block !important;
    }
}