.toolsbar-wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;

    width: 100%;

    padding: 0;

    background: var(--color-gray-6);

    overflow: hidden;
}

.tools:hover {
    background: var(--color-gray-5);
}

.tools-wrapper {
    overflow: auto;
}

.tools-wrapper-category {
    border-right: 1px solid var(--color-gray-4);
}

.format_active {
    color: var(--color-blue) !important;
}