.toolsbar-wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;

    width: 100%;
    height: max-content;

    padding: 0;

    background: var(--color-gray-6);

    overflow: hidden;
}

.tools-content-wrapper {
    display: flex;
    align-items: center;

    margin: auto;
}

.tools:hover {
    background: var(--color-gray-5);
}

.tools-wrapper {
    overflow: auto;
}

.format_active {
    color: var(--color-accent) !important;
}

.tools-section-divider {
    height: 1.5rem;

    margin: 0 0.25rem;

    border-left: 1px solid var(--color-gray-4);
}

.word-count {
    display: flex;
    align-self: center;

    padding: 0.25rem 0.5rem !important;

    border-left: 1px solid var(--color-gray-4);
}

.word-count-text {
    min-width: 1.5rem;

    padding: 0.25rem;
    
    background: var(--color-gray-4);
    border-radius: 0.3rem;

    text-align: center;
}