.exit-read-view {
    display: none;
    position: fixed;

    gap: 0.5rem;
    align-items: center;

    right: 1rem;
    bottom: 1rem;

    z-index: 100;
}

.exit-read-view .landscape-only-view {
    display: none;
}

.read-view {
    position: fixed;

    top: 0;
    left: 0;

    width: 100dvw;
    height: 100dvh;
}

.read-view .file-path-bar,
.read-view .toolsbar-wrapper,
.read-view .side-bar-open-overlay {
    display: none;
}

.read-view .main-edit {
    height: 100dvh;
}

.read-view .main-edit-content a {
    cursor: pointer !important;
}

@keyframes exit-read-view-slidein {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.read-view .exit-read-view {
    display: flex;

    flex-direction: column;

    animation: exit-read-view-slidein 0.3s;
}