:root {
    --color-monday: #f9d73d;
    --color-tuesday: #d686b7;
    --color-wednesday: #92e4af;
    --color-thursday: #f8a66c;
    --color-friday: #78a7da;
}

.elective-swapper {
    display: none;
}

.mobile-link {
    display: none;
}

.setup-img {
    display: none;

    width: 100%;

    aspect-ratio: 2/1;

    border: 1px solid var(--color-gray-4);

    border-radius: 0.3em;
}

.setup-img-block {
    display: block;
}

.setup-custom-json-wrapper {
    display: none;
}

.custom-json {
    width: 100%;
    height: 16em;

    resize: vertical;

    font-family: 'Roboto Mono', 'Sarabun', monospace;
}

.title-wrapper,
.clock-wrapper {
    margin: 1em;

    text-align: center;
}

.title-timetable {
    position: relative;

    color: var(--color-black);

    background: linear-gradient(130deg, 
        var(--color-red) 16.66%,
        var(--color-orange) 33.32%,
        var(--color-yellow) 49.98%,
        var(--color-green) 66.64%,
        var(--color-blue) 83.3%,
        var(--color-purple));
   

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: max-content;
    margin: auto;
}

.timetable-glow {
    position: absolute;

    top: 0;
    left: 0;

    background: linear-gradient(130deg, 
        var(--color-red) 16.66%,
        var(--color-orange) 33.32%,
        var(--color-yellow) 49.98%,
        var(--color-green) 66.64%,
        var(--color-blue) 83.3%,
        var(--color-purple));
   

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: max-content;
    margin: auto;

    opacity: 0.8;

    filter: blur(0.2rem);
    z-index: -1;
}

.clock {
    font-size: 2em;
    font-weight: var(--font-weight-bold);

    font-family: 'Roboto Mono', monospace;
}

.table {
    position: relative;
    display: grid;

    grid-template-columns: repeat(12, minmax(7em, 1fr));
    gap: 0.5em;

    width: calc(100% - 2em);
    max-width: 100em;

    padding: 0.5em;
    margin: 1em auto;

    background: var(--color-gray-6);
    backdrop-filter: blur(0.2em);
    border: 1px solid var(--color-gray-4);

    border-radius: 0.5em;

    transition: 0.2s background-color, 0.2s border, 0.2s opacity;

    overflow-x: auto;
    overflow-y: visible;
}

.table-grid {
    position: relative;
    display: block;

    align-items: center;
    justify-content: center;

    padding: 1em 0.5em;

    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* overflow: hidden; */

    border: 1px solid var(--color-gray-4);

    border-radius: 0.3em;

    transition: 0.2s background-color, 0.3s border;
}

.class-joinable {
    background: var(--color-gray-5);
}

.class-joinable:hover {
    border: 1px solid var(--color-gray-1);

    cursor: pointer;
}

.table-grid-dark {
    background: transparent;
}

.table-days {
    font-weight: var(--font-weight-semibold);

    color: var(--color-days);
}

.table-double {
    grid-column: span 2;
}

.table-grid-time {
    display: flex;

    align-items: center;
    justify-content: center;

    white-space: nowrap;

    padding: 0.5em;

    text-align: center;
    font-weight: var(--font-weight-semibold);

    border: 1px solid var(--color-gray-4);

    border-radius: 0.3em;

    transition: 0.2s background-color, 0.3s border;
}

.bookmarks-wrapper {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;

    width: 100%;
    max-width: 1000px;

    padding: 1em;
    margin: auto;
}

.bookmarks-box {
    text-align: center;
}

.bookmarks-links {
    padding: 0.125em;
}

.bookmarks-links a {
    display: block;

    width: max-content;

    padding: 0.125em;
    margin: auto;
}

.bookmarks-search {
    padding: 1em;
}

.bookmarks-search input,
.bookmarks-search button {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 90%;
    height: 2em;

    margin: 0.5em auto;
}

.about-content div {
    margin: 1em 1em 0 1em;
}

.about-content p {
    font-weight: var(--font-weight-bold);
}

.animation-rotate-inf {
    display: block;

    width: max-content;

    margin: 0.5em auto 0 auto;

    animation: rotate-360 1s linear infinite;
}

@keyframes rotate-360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 500px) {
    .bookmarks-wrapper {
        grid-template-columns: 1fr;
    }
}

.timeremaining {
    text-align: center;
}

.timeremaining span {
    font-family: 'Roboto Mono', monospace;
    font-weight: var(--font-weight-bold);
}

.subjcard {
    position: absolute; 
    display: block;

    top: -1px;
    left: -1px;
    transform: translate(50%, 0%);

    width: 15rem;
    height: max-content;

    padding: 0.5rem;

    text-align: left;
    white-space: normal;

    animation: card-slidein 0.2s ease-out;

    background: var(--color-alt-text);
    border: 1px solid var(--color-gray-1);

    backdrop-filter: blur(2rem);

    border-radius: 0.3rem;

    z-index: 10;
}

.table-double > .subjcard {
    transform: translate(100%, 0%) !important;
}

.subjcard:hover {
    cursor: normal;
}

.subjcard-infobox {
    padding: 0.5rem;
    margin-top: 0.5rem;

    background: var(--color-gray-6);
    border: 1px solid var(--color-gray-4);

    border-radius: 0.3rem;
}

.subjcard-alter-left > .subjcard {
    left: calc(-0.5rem - 1px);
    transform: translate(-100%, 0%) !important;
}

.subjcard-alter-left:has(.table-double) > .subjcard {
    transform: translate(200%, 0%) !important;
}

.subjcard-alter-bottom > .subjcard {
    top: auto;
    bottom: -1px !important;
}

@keyframes card-slidein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.info-chipbox {
    display: inline-block; 

    width: max-content; 
    
    margin: 0.125rem 0;
    padding: 0.25rem; 

    font-size: 0.8rem; 
    text-align: center; 

    background: var(--color-alt-text); 
    border: 1px solid var(--color-gray-4); 
    border-radius: 0.2rem;
}

.assignments-wrapper tr {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
}

.assignments-subj {
    text-align: center;
    font-weight: var(--font-weight-semibold);
}

.assignments-date {
    text-align: center;
}