:root {
    --color-monday: #f9d73d;
    --color-tuesday: #d686b7;
    --color-wednesday: #92e4af;
    --color-thursday: #f8a66c;
    --color-friday: #78a7da;
}

.elective-swapper {
    display: none;
}

.mobile-link {
    display: none;
}

.setup-img {
    display: none;

    width: 100%;

    aspect-ratio: 2/1;

    border: 1px solid var(--color-gray-4);

    border-radius: 0.3em;
}

.setup-img-block {
    display: block;
}

.setup-custom-json-wrapper {
    display: none;
}

.custom-json {
    width: 100%;
    height: 16em;

    resize: vertical;

    font-family: 'Roboto Mono', 'Sarabun', monospace;
}

.setup-error {
    text-align: center;
    font-size: 0.8em;

    color: var(--color-red);
}

.settings-section-wrapper {
    margin: 0.5em 0;
}

.settings-section-title {
    margin-bottom: 0.5em;
}

.settings-option-label {
    display: flex;
    
    gap: 0.5em;
    
    align-items: center;
}

.setting-icons-buttons-wrapper {
    width: max-content;
    max-width: calc(100% - 2em);

    margin: 0 auto;
}

.title-wrapper {
    padding-top: 1em;

    text-align: center;
}

.clock-wrapper {
    margin: 1em;

    text-align: center;
}

.clock {
    font-size: 2em;
    font-weight: var(--font-weight-bold);

    font-family: 'Roboto Mono', monospace;
}

.table {
    position: relative;
    display: grid;

    grid-template-columns: repeat(12, minmax(7em, 1fr));
    gap: 0.5em;

    width: calc(100% - 2em);
    max-width: 100em;

    padding: 0.5em;
    margin: 1em auto;

    background: var(--color-gray-6);
    backdrop-filter: blur(0.2em);
    border: 1px solid var(--color-gray-4);

    border-radius: 0.5em;

    transition: 0.2s background-color, 0.2s border, 0.2s opacity;

    overflow-x: auto;
}

.table-grid {
    display: flex;

    align-items: center;
    justify-content: center;

    padding: 1em 0.5em;

    text-align: center;

    border: 1px solid var(--color-gray-4);

    border-radius: 0.3em;

    transition: 0.2s background-color, 0.3s border;
}

.class-joinable {
    background: var(--color-gray-5);
}

.class-joinable:hover {
    border: 1px solid var(--color-gray-1);
    
    cursor: pointer;
}

.table-grid-dark {
    background: transparent ;
}

.table-days {
    font-weight: var(--font-weight-semibold);

    color: var(--color-days);

    cursor: default;
}

.table-double {
    grid-column: span 2;
}

.table-grid-time {
    display: flex;

    align-items: center;
    justify-content: center;

    white-space: nowrap;

    padding: 0.5em;

    text-align: center;
    font-weight: var(--font-weight-semibold);

    border: 1px solid var(--color-gray-4);

    border-radius: 0.3em;

    transition: 0.2s background-color, 0.3s border;
}

.bookmarks-wrapper {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;

    width: 100%;
    max-width: 1000px;

    padding: 1em;
    margin: auto;
}

.bookmarks-box {
    text-align: center;
}

.bookmarks-links {
    padding: 0.125em;
}

.bookmarks-links a {
    display: block;

    width: max-content;

    padding: 0.125em;
    margin: auto;
}

.bookmarks-search {
    padding: 1em;
}

.bookmarks-search input, 
.bookmarks-search button {
    display: flex;

    align-items: center;
    justify-content: center;
    
    width: 90%;
    height: 2em;

    margin: 0.5em auto;
}

.about-content div {
    margin: 1em 1em 0 1em;
}

.about-content p {
    font-weight: var(--font-weight-bold);
}

.about-content ul {
    padding-left: 2em;
}

.animation-rotate-inf {
    display: block;

    width: max-content;
    
    margin: 0.5em auto 0 auto;

    animation: rotate-360 1s linear infinite;
}

@keyframes rotate-360 {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@media (max-width: 500px) {
    .bookmarks-wrapper {
        grid-template-columns: 1fr;
    }
}

.timeremaining {
    text-align: center;
}

.timeremaining span {
    font-family: 'Roboto Mono', monospace; 
    font-weight: var(--font-weight-bold);
}

.drip-timetable {
    background: linear-gradient(-15deg, var(--color-tuesday), var(--color-friday)) no-repeat center center fixed;
}