@import url("/timetable/assets/css/components/about.css");
@import url("/timetable/assets/css/components/bookmarks.css");
@import url("/timetable/assets/css/components/header.css");
@import url("/timetable/assets/css/components/pwa.css");
@import url("/timetable/assets/css/components/setup.css");
@import url("/timetable/assets/css/components/subjcard.css");
@import url("/timetable/assets/css/components/table.css");
@import url("/timetable/assets/css/components/timeremaining.css");
@import url("/timetable/assets/css/components/todo.css");

:root {
    --color-monday: #f9d73d;
    --color-tuesday: #d686b7;
    --color-wednesday: #92e4af;
    --color-thursday: #f8a66c;
    --color-friday: #78a7da;
}

.elective-swapper {
    display: none;
}