.home-information {
    padding: 0.5em;
}

.home-information div {
    padding: 0.5em;
    text-align: center;
}

.home-hello p {
    padding: 0.25em;
}

#clock {
    font-size: 2em;
    font-weight: var(--bold-text);
}

.home-category {
    padding: 0.25em;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}

.home-category p {
    padding: 0 0.5em;
}

.home-category a {
    text-decoration: none;
    color: var(--color-text);
}

.home-section {
    background: rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 0.5em auto;
    padding: 1em 0.5em;
    border-radius: 0.3em;
}

.home-logout {
    background: var(--red);
    width: max-content;
    margin: 0.5em auto;
    font-size: 0.8em;
    padding: 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
}

.home-copyright {
    font-size: 0.8em;
    text-align: center;
    opacity: 0.5;
    padding: 0.5em;
}

.sidebar {
    height: calc(100% - 36px);
    bottom: 0;
    width: 20em;
    position: fixed;
    overflow-y: auto;
    background: var(--sidebar-background);
    transition: 0.3s;
}

.sidebar::-webkit-scrollbar {
    width: 0.5em;
    border-right: 1px solid grey;
}

.sidebar::-webkit-scrollbar-track {
    background: var(--sidebar-background);
}

.sidebar::-webkit-scrollbar-thumb {
    border: 0.2em solid var(--sidebar-background);
    background: grey;
    border-radius: 0.25em;
}

.sidebar::-webkit-scrollbar-corner {
    display: none;
}

.main {
    height: calc(100% - 2em);
    width: calc(100% - 20em);
    margin-left: 20em;

    padding-top: 36px;
    overflow-y: auto;

    transition: 0.3s;
}