@import url("/assets/css/import/fonts.css");

:root {
    --background: #202124;
    --navbar-background: #101114;
    --sidebar-background: #151619;

    --box-background: rgba(255, 255, 255, 0.8);


    --color-text: #ffffff;
    --color-alttext: #000000;

    --link-color: #6890ff;

    --regular-text: 200;
    --bold-text: 500;

    --red: rgb(255, 100, 100);
    --green: rgb(146, 228, 175);

    color-scheme: dark;
}

* {
    padding: 0;
    margin: 0;

    -webkit-appearance: none;

    font-weight: var(--regular-text);

    text-decoration: none;
    color: var(--color-text);

    font-family: "Outfit", "Sarabun", sans-serif;
}

body {
    background: var(--background) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Outfit', 'Sarabun', sans-serif;
    font-weight: var(--regular-text);
    -webkit-text-size-adjust: 100%;
}

.navbar {
    font-weight: var(--regular-text);
    padding: 0.5em;

    background: var(--navbar-background);

    transition: 0.3s;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.navbar a {
    padding: 0 0.5em;

    font-size: 1em;

    text-align: center;
    opacity: 0.6;
    transition: 0.3s;

    display: inline-block;
}

.navbar a:hover {
    opacity: 0.8;
}

.navbar-right {
    float: right;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
        --navbar-background: rgb(235, 235, 235);
        --sidebar-background: rgb(210, 210, 210);

        --color-text: #000000;
        --color-alttext: #ffffff;

        color-scheme: light;
    }
}