/* Outfit */

/* Normal */
@font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf");

    font-weight: 100 900;
}

/* Roboto Mono */

/* Normal */
@font-face {
    font-family: "Roboto Mono";
    src: url("/assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");

    font-weight: 100 700;
}

/* Sarabun */

/* Normal */
@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-Light.ttf");

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-Medium.ttf");

    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-Bold.ttf");

    font-weight: 700;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-LightItalic.ttf");

    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-MediumItalic.ttf");

    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Sarabun";
    src: url("/assets/fonts/Sarabun/Sarabun-BoldItalic.ttf");

    font-weight: 700;
    font-style: italic;
}

/* Material Symbols Outlined */

/* Icons */
@font-face {
    font-family: 'Material Symbols Outlined';
    src: url("/assets/fonts/Material_Symbols_Outlined/MaterialSymbolsOutlined.woff2") format('woff2');
    
    font-weight: 100 700;
    font-style: normal;
}

/* Class Declaring */
.material-symbols-outlined {
    display: inline-block;

    font-family: 'Material Symbols Outlined';

    font-weight: normal;
    font-style: normal;
    font-size: 24px;

    line-height: 1;

    letter-spacing: normal;
    text-transform: none;
    
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;

    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* Noto Color Emoji */

/* Emojis */
@font-face {
    font-family: "Noto Color Emoji";
    src: url("/assets/fonts/Noto_Color_Emoji/NotoColorEmoji-Regular.ttf");

    font-weight: 400;
    font-style: normal;
}