.popup {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: calc(100% - 2em);
    max-width: 25em;

    background: var(--color-gray-6);
    border: 1px solid var(--color-gray-4);

    border-radius: 0.5em;

    z-index: 1000;

    overflow: auto;
}

.popup-header {
    display: block;

    padding: 0.5em;

    border-bottom: 1px solid var(--color-gray-4);
}

.popup-title {
    display: block;

    font-size: 1.2em;
    font-weight: var(--font-weight-bold);
}

.popup-description {
    font-size: 0.8em;

    opacity: 0.5;
}

.popup-content {
    display: block;

    padding: 1em;

    min-height: 4em;
    max-height: 60vh;

    overflow: auto;

    scroll-behavior: smooth;
}

.popup-buttons-box {
    background: var(--color-gray-5);
    border-top: 1px solid var(--color-gray-4);

    overflow: auto;
}

.popup-buttons-wrapper {
    display: flex;

    gap: 0.5em;

    width: max-content;

    padding: 0.5em;
    margin: 0 0 0 auto;
}

.popup-button {
    display: inline-block;

    min-width: 4em;

    padding: 0.25em 0.5em;

    text-align: center;

    color: var(--color-white);
    background: var(--color-blue);

    border-radius: 0.3em;
}

.popup-button-transparent {
    color: var(--color-blue);
    background: transparent;
}

.popup-button-full {
    width: 100%;
}

.popup-button-danger {
    color: var(--color-white);
    background: var(--color-red);
}