.settings-section-wrapper {
    margin: 0.5rem 0;
}

.settings-section-title {
    margin-bottom: 0.5rem;
}

.settings-option-label {
    display: flex;

    gap: 0.5rem;

    padding: 0.25rem 0;

    align-items: center;
}

.setting-icons-buttons-wrapper {
    width: max-content;
    max-width: calc(100% - 2em);

    margin: 0 auto;
}

.settings-section-drop {
    color: var(--color-blue);
    border: 1px solid transparent;

    border-radius: 5rem;

    transition: 0.2s transform, 0.2s border-color, 0.2s background-color;

    cursor: pointer;
}

.settings-section-drop:hover {
    border: 1px solid var(--color-gray-4);
}


.settings-section-hide {
    display: none !important;
}

.settings-drop-down {
    border: 1px solid var(--color-gray-4);
    background: var(--color-gray-5);
    
    transform: rotate(180deg);
}