.settings-section-wrapper {
    margin: 0.5rem 0;
}

.settings-section-title {
    margin-bottom: 0.5rem;
}

.settings-option-label {
    display: flex;

    gap: 0.5rem;

    align-items: center;
}

.setting-icons-buttons-wrapper {
    width: max-content;
    max-width: calc(100% - 2em);

    margin: 0 auto;
}