.title-wrapper,
.clock-wrapper {
    margin: 1em;

    text-align: center;
}

/* .title-timetable {
    position: relative;

    color: var(--color-main-text);
    background: var(--color-main-text);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: 100%;

    max-width: max-content;
    margin: auto;
} */

.title-timetable {
    position: relative;

    color: var(--color-black);

    background: linear-gradient(to right,
        var(--color-red),
        var(--color-orange),
        var(--color-yellow),
        var(--color-green),
        var(--color-mint),
        var(--color-teal),
        var(--color-cyan),
        var(--color-blue),
        var(--color-indigo),
        var(--color-purple),
        var(--color-pink),
        var(--color-red)
    );

    background-size: 1000%;
   

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: max-content;
    margin: auto;

    animation: rollingbackground 300s linear infinite;
}

@keyframes rollingbackground {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 1000%;
    }
}

.clock {
    font-size: 2em;
    font-weight: var(--font-weight-bold);

    font-family: 'Roboto Mono', monospace;
}

.table {
    position: relative;
    display: grid;

    grid-template-columns: repeat(12, minmax(7em, 1fr));
    gap: 0.5em;

    width: calc(100% - 2em);
    max-width: 100em;

    padding: 0.5em;
    margin: 1em auto;

    background: var(--color-gray-6);
    backdrop-filter: blur(0.2em);
    border: 1px solid var(--color-gray-4);

    border-radius: 0.5em;

    transition: 0.2s background-color, 0.2s border, 0.2s opacity;

    overflow-x: auto;
    overflow-y: visible;
}