.title-wrapper,
.clock-wrapper {
    margin: 1em;

    text-align: center;
}

/* .title-timetable {
    position: relative;

    color: var(--color-main-text);
    background: var(--color-main-text);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: 100%;

    max-width: max-content;
    margin: auto;
} */

.title-timetable {
    position: relative;

    color: var(--color-black);

    background: linear-gradient(to right,
        var(--color-red),
        var(--color-orange),
        var(--color-yellow),
        var(--color-green),
        var(--color-mint),
        var(--color-teal),
        var(--color-cyan),
        var(--color-blue),
        var(--color-indigo),
        var(--color-purple),
        var(--color-pink),
        var(--color-red)
    );

    background-size: 1000%;
   

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: max-content;
    margin: auto;

    animation: rollingbackground 300s linear infinite;
}

@keyframes rollingbackground {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 1000%;
    }
}

.clock {
    font-size: 2em;
    font-weight: var(--font-weight-bold);

    font-family: 'Roboto Mono', monospace;
}