@media screen and (display-mode: standalone) {
    .navigation-bar {
        border-top: 1px solid var(--color-gray-4);
    }

    .nav-pwa-hide {
        display: none !important;
    }

    .nav-pwa-timetable {
        font-size: 0.8rem;
        font-family: "Roboto Mono", monospace;
    }

    .timeremaining {
        margin: 0.5rem 1rem 1rem 1rem !important;
    }

    .clock-wrapper,
    .title-description {
        display: none;
    }
}