.subjcard {
    position: absolute; 
    display: block;

    top: -1px;
    left: -1px;
    transform: translate(50%, 0%);

    width: 15rem;
    height: max-content;

    padding: 0.5rem;

    text-align: left;
    white-space: normal;

    animation: card-slidein 0.2s ease-out;

    background: var(--color-alt-text);
    border: 1px solid var(--color-gray-1);

    backdrop-filter: blur(2rem);

    border-radius: 0.3rem;

    z-index: 10;
}

.table-double > .subjcard {
    transform: translate(100%, 0%) !important;
}

.subjcard:hover {
    cursor: normal;
}

.subjcard-infobox {
    padding: 0.5rem;
    margin-top: 0.5rem;

    background: var(--color-gray-6);
    border: 1px solid var(--color-gray-4);

    border-radius: 0.3rem;
}

.subjcard-alter-left > .subjcard {
    left: calc(-0.5rem - 1px);
    transform: translate(-100%, 0%) !important;
}

.subjcard-alter-left:has(.table-double) > .subjcard {
    transform: translate(200%, 0%) !important;
}

.subjcard-alter-bottom > .subjcard {
    top: auto;
    bottom: -1px !important;
}

@keyframes card-slidein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.info-chipbox {
    display: inline-block; 

    width: max-content; 
    
    margin: 0.125rem 0;
    padding: 0.25rem; 

    font-size: 0.8rem; 
    text-align: center; 

    background: var(--color-alt-text); 
    border: 1px solid var(--color-gray-4); 
    border-radius: 0.2rem;
}