.table {
    position: relative;
    display: grid;

    grid-template-columns: repeat(12, minmax(7.5em, 1fr));
    grid-template-rows: max-content;
    grid-auto-rows: 1fr;
    gap: 0.5em;

    width: calc(100% - 2em);
    max-width: 100em;

    padding: 0.5em;
    margin: 1em auto;

    background: var(--color-gray-6);
    backdrop-filter: blur(0.2em);
    border: 1px solid var(--color-gray-4);

    border-radius: 0.5em;

    transition: 0.2s background-color, 0.2s border, 0.2s opacity;

    overflow-x: auto;
    overflow-y: visible;
}

.table-grid {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 1em;

    text-align: center;
    text-overflow: ellipsis;

    border: 1px solid var(--color-gray-5);

    border-radius: 0.3em;

    transition: 0.2s background-color, 0.3s border;
}

.class-joinable {
    background: var(--color-gray-5);
    border: 1px solid var(--color-gray-4);
}

.class-joinable:hover {
    border: 1px solid var(--color-gray-1);

    cursor: pointer;
}

.class-current {
    background: var(--color-selection) !important;
    border: 1px solid var(--color-blue) !important;
}

.table-grid-dark {
    background: transparent;
}

.table-days {
    align-items: start;

    font-weight: var(--font-weight-semibold);

    color: var(--color-days);

    padding: 0.75rem 1rem;
}

.table-faded {
    opacity: 0.5 !important;
}

.class-override {
    border: 1px solid var(--color-gray-2);
}

.class-error {
    background: transparent;
    border: 1px solid var(--color-red) !important;
}

.table-grid-time {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    white-space: nowrap;

    padding: 0.5em;

    text-align: center;
    font-weight: var(--font-weight-semibold);

    border: 1px solid var(--color-gray-4);

    border-radius: 0.3em;

    transition: 0.2s background-color, 0.3s border;
}

.table-grid-time-divider {
    font-weight: var(--font-weight-normal);
    
    color: var(--color-gray-2);
}

.table-grid-time-content {
    font-size: 0.8rem;
    font-weight: var(--font-weight-normal);
    
    /* color: var(--color-gray-1); */
}