.table-grid {
    position: relative;
    display: block;

    align-items: center;
    justify-content: center;

    padding: 1em 0.5em;

    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* overflow: hidden; */

    border: 1px solid var(--color-gray-4);

    border-radius: 0.3em;

    transition: 0.2s background-color, 0.3s border;
}

.class-joinable {
    background: var(--color-gray-5);
}

.class-joinable:hover {
    border: 1px solid var(--color-gray-1);

    cursor: pointer;
}

.table-grid-dark {
    background: transparent;
}

.table-days {
    font-weight: var(--font-weight-semibold);

    color: var(--color-days);
}

.table-double {
    grid-column: span 2;
}

.table-grid-time {
    display: flex;

    align-items: center;
    justify-content: center;

    white-space: nowrap;

    padding: 0.5em;

    text-align: center;
    font-weight: var(--font-weight-semibold);

    border: 1px solid var(--color-gray-4);

    border-radius: 0.3em;

    transition: 0.2s background-color, 0.3s border;
}