.timeremaining {
    padding: 0.5rem;
    margin: 1rem auto;

    width: calc(100vw - 2rem);
    max-width: max-content;

    text-align: center;
    
    background: var(--color-gray-6);
    border: 1px solid var(--color-gray-4);
    border-radius: 0.5rem;

    animation: notification-fly-in 0.2s;
}