@import "tailwindcss";
@import "./fonts.css";

:root {
  --text-title: 1.5rem;
  --text-body: 0.875rem;
  --text-subtitle: 0.75rem;
}

:root,
:root.light,
[data-theme="light"] {
  --color-background: hsla(0, 0%, 96%, 1);
  --color-on-background: hsla(240, 11%, 7%, 1);
  --color-primary: hsla(218, 35%, 40%, 1);
  --color-on-primary: var(--color-white);
  --color-surface-primary: var(--color-white);
  --color-on-surface-primary: hsla(240, 11%, 7%, 1);
  --color-outline: hsla(0, 0%, 0%, 0.1);
  --color-danger: var(--color-red-500);
  --color-on-danger: var(--color-white);
  --color-anchor: var(--Øcolor-blue-500);
}

:root.dark,
[data-theme="dark"] {
  --color-background: var(--color-black);
  --color-on-background: var(--color-white);
  --color-primary: hsla(218, 35%, 80%, 1);
  --color-on-primary: var(--color-black);
  --color-surface-primary: var(--color-zinc-900);
  --color-on-surface-primary: var(--color-white);
  --color-outline: var(--color-zinc-700);
  --color-danger: var(--color-red-400);
  --color-on-danger: var(--color-white);
  --color-anchor: var(--color-blue-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-on-background: var(--color-white);
    --color-primary: hsla(218, 35%, 80%, 1);
    --color-on-primary: var(--color-black);
    --color-surface-primary: var(--color-zinc-900);
    --color-on-surface-primary: var(--color-white);
    --color-outline: var(--color-zinc-700);
    --color-danger: var(--color-red-400);
    --color-on-danger: var(--color-white);
    --color-anchor: var(--color-blue-400);
  }
}

@theme default {
  --text-title: var(--text-title);
  --text-base: var(--text-body);
  --text-subtitle: var(--text-subtitle);

  --font-weight-normal: 400;
  --font-weight-bold: 500;

  --color-background: var(--color-background);
  --color-on-background: var(--color-on-background);
  --color-primary: var(--color-primary);
  --color-on-primary: var(--color-on-primary);
  --color-surface-primary: var(--color-surface-primary);
  --color-on-surface-primary: var(--color-on-surface-primary);
  --color-outline: var(--color-outline);
  --color-danger: var(--color-danger);
  --color-on-danger: var(--color-on-danger);
  --color-anchor: var(--color-anchor);
}

* {
  font-family: "Inter Variable", "Inter Thai Loopless", sans-serif;
  font-feature-settings:
    "cv05" on,
    "cv08" on,
    "cv10" on,
    "cv11" on,
    "ss03" on;
  /* font-family: "Inter Thai Loopless", sans-serif; */

  @apply transition-colors;
}

.text-tabnum,
[data-tabnum="true"] {
  font-feature-settings:
    "cv05" on,
    "cv08" on,
    "cv10" on,
    "cv11" on,
    "tnum" on;
}

body {
  @apply text-on-background bg-background text-base;
}

h1 {
  @apply text-title font-bold;
}

ul {
  @apply ml-6 list-disc;
}

b {
  @apply font-bold;
}
