body {
    overflow: hidden;
}

/* .main-edit::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

.main-edit::-webkit-scrollbar-track {
    background: var(--background-html);
}

.main-edit::-webkit-scrollbar-track:vertical {
    border-left: 1px solid var(--color-gray-4);
}

.main-edit::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid var(--color-gray-4);
}

.main-edit::-webkit-scrollbar-track:hover {
    background: var(--color-gray-6);
}

.main-edit::-webkit-scrollbar-thumb {
    background: var(--color-gray-5);
    border-left: 1px solid var(--color-gray-4);
}

.main-edit::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-3);
}

.main-edit::-webkit-scrollbar-corner {
    background: var(--background-html);

    border: 1px solid var(--color-gray-4);
} */

.material-symbols-outlined {
    color: var(--color-main-text);
}

/* Global CSS Preset */

.width-p100 {
    width: 100%;
}

.col-span-2 {
    grid-column: span 2;
}

.justify-content-between-center {
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    gap: 0.5rem;
}

/* Specific Value */

.application-root {
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 41px calc(100vh - 41px);
    
    height: 100vh;
    max-height: -webkit-fill-available;
    
    overflow: hidden;
}

.navigation-bar {
    z-index: 1;
    
    overflow: auto;
}

.navigation-bar div {
    display: flex;
    
    gap: 0;
}

.application-content {
    display: grid;
    
    grid-template-columns: max-content 1fr;
    
    width: 100vw;
}

.side-bar {
    display: flex;
    flex-direction: column;
    
    background: var(--color-gray-6);
    border-right: 1px solid var(--color-gray-4);
    
    transition: 0.2s background-color, 0.2s color, 0.2s border;
    
    width: 100vw;
    max-width: 20rem;
    
    overflow-x: hidden;
    overflow-y: auto;
}

.side-bar > div {
    width: 100%;
    
    padding: 1rem;
}

.side-bar-hide {
    display: none;
}

@media screen and (max-width: 20rem) {
    .side-bar {
        border-right: none;
    }    
}

.main-content {
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content calc(100dvh - 41px - 41px - 41px);
    
    width: 100%;
}

.side-bar-open-overlay {
    position: fixed;

    display: block;

    width: 100vw;
    height: 100vh;

    background: var(--background-html);

    opacity: 0;

    z-index: 2;

    user-select: none;
    pointer-events: none;
}

@media screen and (max-width: 35rem) {
    .main-content .side-bar-open-overlay {
        opacity: 0.8;

        user-select: all;
        pointer-events: all;
    }

    .col-span-2 .side-bar-open-overlay {
        opacity: 0;

        user-select: none;
        pointer-events: none;
    }

    .main-content {
        min-width: 15rem;
    }
}

.main-edit {
    padding: 2rem;
    
    overflow: auto;
}

.main-edit h1, h2, h3, h4, h5, h6, p:focus {
    width: 100%;
    
    outline: none;
}

.main-edit hr {
    display: block;

    width: 100%;

    margin: 1rem 0;

    border: 0.5px solid var(--color-gray-4);
}

.main-edit-title *,
.main-edit-content * {
    font-family: inherit !important;

    line-height: 1.4;
}

.main-edit-title {
    font-weight: var(--font-weight-semibold);
}

.main-edit-content a {
    cursor: pointer !important;
}

.main-edit-sansserif,
.main-edit-sansserif * {
    font-family: "Outfit", "Sarabun", sans-serif !important;
}

.main-edit-serif,
.main-edit-serif * {
    font-family: "Noto Serif", "Noto Serif Thai", serif !important;
}

.main-edit-monospace,
.main-edit-monospace * {
    font-family: "Roboto Mono", "Sarabun", monospace !important;
}

.main-edit-thaimonospace,
.main-edit-thaimonospace * {
    font-family: "Monomon", monospace !important;
}

.main-edit-content {
    flex-grow: 1;

    padding-bottom: 50vh;
}

.main-edit-content img {
    display: block;

    width: max-content;
    max-width: 100%;

    margin: 0.5rem 0;
}

.main-edit-filepath {
    justify-content: start !important;

    white-space: nowrap;

    text-overflow: ellipsis;

    overflow: hidden;

    flex-grow: 1;
}

.main-edit-section-title {
    margin-bottom: 0.5rem;

    width: 100%;

    overflow: hidden;

    white-space: nowrap;

    letter-spacing: 0.2rem;
}

.file-path-bar {
    display: flex;

    padding: 0;

    z-index: 1 !important;
}

.notes-panel-wrapper {
    flex-grow: 1;

    padding: 0 !important;
    
    overflow: auto;
}

.notes-panel-title {
    padding: 1rem 1rem 0.25rem 1rem;
}

.notes-panel {
    margin: 0 0 10rem 0;
}

.notes-list {
    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 0.5rem;

    padding: 0.25rem 1rem 0.25rem calc(1rem - 3px);

    border-left: 3px solid transparent;

    opacity: 0.8;

    transition: 0.2s background-color, 0.2s opacity, 0.2s color;
}


.notes-list:not(.notes-list-active):hover {
    background: var(--color-gray-5);
    border-left: 3px solid var(--color-blue);
    
    cursor: pointer;

    opacity: 1;
}

.notes-list-active {
    background: var(--color-gray-4);
    border-left: 3px solid var(--color-main-text);

    opacity: 1;
}

.notes-list-active a {    
    color: var(--color-main-text) !important;

    cursor: default;
}

.note-panel-delete {
    cursor: pointer !important;
}

.notes-list .material-symbols-outlined {
    opacity: 0;

    transition: 0.2s opacity;
}

.notes-list:hover .material-symbols-outlined {
    opacity: 1;
}

.save-indicator {
    display: none;

    box-shadow: -1rem 0 1rem 1px var(--color-gray-6);

    transition: 0.2s box-shadow;

    user-select: none;
}

.word-count {
    padding-right: 0.5rem;

    border-left: 1px solid var(--color-gray-4);
}

.file-path-bar-menu {
    border-right: 1px solid var(--color-gray-4);
}

.copyrightyear {
    padding: 0 1rem 1rem 1rem;
}

.editor-wrapper {
    max-width: 45rem;

    margin: auto;
}

.editor-wrapper-fullwidth {
    max-width: none !important;
    
    padding: 0;
    border: none;
    border-radius: 0;
}

@media print {
    :root,
    :root.light,
    :root[theme="light"],
    :root.dark,
    :root[theme="dark"] {
        --background-html: rgb(255, 255, 255) no-repeat center center fixed;
        --background-body: transparent no-repeat center center fixed;

        --color-main-text: rgb(0, 0, 0);
        --color-alt-text: rgb(255, 255, 255);

        --color-red: rgb(255, 59, 48);
        --color-orange: rgb(255, 149, 0);
        --color-yellow: rgb(255, 204, 0);
        --color-green: rgb(52, 199, 89);
        --color-mint: rgb(0, 199, 190);
        --color-teal: rgb(48, 176, 199);
        --color-cyan: rgb(50, 173, 230);
        --color-blue: rgb(0, 122, 255);
        --color-indigo: rgb(88, 86, 214);
        --color-purple: rgb(175, 82, 222);
        --color-pink: rgb(255, 45, 85);
        --color-brown: rgb(162, 132, 94);

        --color-gray-1: rgb(142, 142, 147);
        --color-gray-2: rgb(174, 174, 178);
        --color-gray-3: rgb(199, 199, 204);
        --color-gray-4: rgb(209, 209, 214);
        --color-gray-5: rgb(229, 229, 234);
        --color-gray-6: rgb(242, 242, 247);

        --color-selection: rgba(0, 122, 255, 0.3);

        color-scheme: light;
    }

    body {
        height: max-content !important;
        overflow: auto;
    }

    .navigation-bar {
        display: none;
    }

    .side-bar {
        display: none;
    }

    .application-root {
        overflow: unset;
    }

    .application-content {
        grid-template-columns: 1fr;
    }

    .editor-wrapper {
        max-width: none !important;
        margin: auto !important;

        padding: 0 !important;
        border: none !important;

        border-radius: 0 !important;
    }

    .main-content {
        display: block;
        height: max-content;
    }

    .main-edit {
        padding: 0;
    }

    .main-edit-content {
        padding: 0;
    }
    
    .statusbar-wrapper {
        display: none !important;
    }
}

.statusbar-wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;

    width: 100%;

    padding: 0;

    background: var(--color-gray-6);
}

.tools:hover {
    background: var(--color-gray-5);
}

.tools-wrapper {
    width: calc(100% + 1px);

    overflow: auto;
}

.tools-wrapper-category {
    border-right: 1px solid var(--color-gray-4);
}

.format_active {
    color: var(--color-blue) !important;
}

.file-dropzone {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 6rem;

    padding: 1rem;
    margin: 1rem 0 0 0;

    text-align: center;

    font-size: 0.8rem;

    color: var(--color-gray-1);
    border: 1px dashed var(--color-gray-4);

    border-radius: 0.3rem;

    cursor: pointer;

    transition: 0.2s border;
}

.file-dropzone:hover {
    border: 1px solid var(--color-gray-1);
}