body {
    overflow: hidden;
}

.main-edit::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

.main-edit::-webkit-scrollbar-track {
    background: var(--background-html);
}

.main-edit::-webkit-scrollbar-track:vertical {
    border-left: 1px solid var(--color-gray-4);
}

.main-edit::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid var(--color-gray-4);
}

.main-edit::-webkit-scrollbar-track:hover {
    background: var(--color-gray-6);
}

.main-edit::-webkit-scrollbar-thumb {
    background: var(--color-gray-5);
    border-left: 1px solid var(--color-gray-4);
}

.main-edit::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-3);
}

.main-edit::-webkit-scrollbar-corner {
    background: var(--background-html);

    border: 1px solid var(--color-gray-4);
}

.material-symbols-outlined {
    color: var(--color-main-text);
}

/* Global CSS Preset */

.width-p100 {
    width: 100%;
}

.col-span-2 {
    grid-column: span 2;
}

.justify-content-between-center {
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    gap: 0.5rem;
}

/* Specific Value */

.application-root {
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 41px calc(100vh - 41px);
    
    height: 100vh;
    max-height: -webkit-fill-available;
    
    overflow: hidden;
}

.navigation-bar {
    z-index: 1;
    
    overflow: auto;
}

.navigation-bar div {
    display: flex;
    
    gap: 0;
}

.application-content {
    display: grid;
    
    grid-template-columns: max-content 1fr;
    
    width: 100vw;
}

.side-bar {
    display: flex;
    flex-direction: column;
    
    background: var(--color-gray-6);
    border-right: 1px solid var(--color-gray-4);
    
    transition: 0.2s background-color, 0.2s color, 0.2s border, 0.2s width;
    
    width: 100vw;
    max-width: 20rem;
    
    overflow-x: hidden;
    overflow-y: auto;
}

.side-bar > div {
    width: 100%;
    
    padding: 1rem;
}

.side-bar-hide {
    display: none;
}

@media screen and (max-width: 20rem) {
    .side-bar {
        border-right: none;
    }    
}

.main-content {
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: max-content calc(100vh - 41px - 36.5px);
    
    width: 100%;
    min-width: 20rem;
}

.side-bar-open-overlay {
    position: fixed;

    display: block;

    width: 100vw;
    height: 100vh;

    background: var(--background-html);

    opacity: 0;

    z-index: 2;

    user-select: none;
    pointer-events: none;
}

@media screen and (max-width: 40rem) {
    .main-content .side-bar-open-overlay {
        opacity: 0.8;

        user-select: all;
        pointer-events: all;
    }

    .col-span-2 .side-bar-open-overlay {
        opacity: 0;

        user-select: none;
        pointer-events: none;
    }
}

.main-edit {
    padding: 2rem;
    
    overflow: auto;
}

.main-edit h1, h2, h3, h4, h5, h6, p:focus {
    width: 100%;
    
    outline: none;
}

.main-edit hr {
    display: block;

    width: 100%;

    margin: 1rem 0;

    border: 0.5px solid var(--color-gray-4);
}

.main-edit-title *,
.main-edit-content * {
    font-family: inherit !important;
}

.main-edit-sansserif,
.main-edit-sansserif * {
    font-family: "Outfit", "Sarabun", sans-serif !important;
}

.main-edit-serif,
.main-edit-serif * {
    font-family: "Noto Serif", "Sarabun", serif !important;
}

.main-edit-monospace,
.main-edit-monospace * {
    font-family: "Roboto Mono", "Sarabun", monospace !important;
}

.main-edit-content {
    flex-grow: 1;

    padding-bottom: 50vh;
}

.main-edit-filepath {
    justify-content: start !important;

    white-space: nowrap;

    text-overflow: ellipsis;

    overflow: hidden;

    flex-grow: 1;
}

.main-edit-section-title {
    margin-bottom: 0.5rem;

    width: 100%;

    overflow: hidden;

    white-space: nowrap;

    letter-spacing: 0.2rem;
}

.file-path-bar {
    display: flex;

    padding: 0;

    z-index: 1 !important;
}

.notes-panel-wrapper {
    flex-grow: 1;

    padding: 0 !important;
    
    overflow: auto;
}

.notes-panel-title {
    padding: 1rem 1rem 0.25rem 1rem;
}

.notes-panel {
    margin: 0 0 10rem 0;
}

.notes-list {
    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 0.5rem;

    padding: 0.25rem 1rem 0.25rem calc(1rem - 3px);

    border-left: 3px solid transparent;
}

.notes-list-active {
    background: var(--color-gray-5);
    border-left: 3px solid var(--color-main-text);
}

.notes-list .material-symbols-outlined {
    opacity: 0;

    transition: 0.2s opacity;
}

.notes-list:hover .material-symbols-outlined {
    opacity: 1;
}

.save-indicator {
    display: none;

    color: var(--color-gray-1) !important;
    border-left: 1px solid var(--color-gray-4);

    user-select: none;
}

.word-count {
    padding-left: 0.5rem;

    border-left: 1px solid var(--color-gray-4);
}

.file-path-bar-menu {
    border-right: 1px solid var(--color-gray-4);
}

.copyrightyear {
    padding: 0 1rem 1rem 1rem;
}

.editor-wrapper {
    max-width: 45rem;
    margin: auto;
}

.editor-wrapper-fullwidth {
    max-width: none !important;
}